// Background site
$background:white;
// Cards colors 
$gradiend-color-card-categories:linear-gradient(#0D91D1 , #1479ac);
$gradiend-color-card-products:linear-gradient(#69306D,#86358b);
$gradiend-color-card-car:linear-gradient(#EA8C55 ,#c77647 );
// Background color cards
$background-color-cards:white;
// Colors icons
$color-icons-card:white;
// Shadow in cards
$shadow-cards:1px 10px 10px rgba($color: #000000, $alpha: 0.2) , 1px 10px 20px rgba($color: #000000, $alpha: 0.1);
